@tailwind base;
@tailwind components;
@tailwind utilities;

.glow-effect{
  transition:text-shadow 0.3s;
}
.glow-effect:hover{
  text-shadow:0 0 2px white
}
.text-gradient{
  background:linear-gradient(to right,rgb(222, 112, 112),rgb(255, 255, 255));
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.logo-gradient{
  background:linear-gradient(to right,rgb(222, 112, 112),rgb(255, 255, 255));
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.custom-checkbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 120px;
  border: 2px solid lightgray;
  border-radius: 10px;
  cursor: pointer;
  transition: border-color 0.3s, color 0.3s;
  margin: 0.5rem;
  color:white;
}

.custom-checkbox.checked {
  border-color: blue;
  color: blue;
}

.custom-checkbox .icon {
  font-size: 40px;
  margin-bottom: 8px;
  
}

.custom-checkbox .label {
  font-size: 16px;
  
}
/* Custom CSS for additional spacing or styling */
.custom-container {
  padding: 16px;
}

.custom-qr-code {
  margin-top: 32px;
  text-align: center;
}

